nav {

   background-color: ;
   color :blue;
 padding: 1rem;

 }



 ul {

  list-style-type: none;

     padding: 0;

    margin: 0;

      display: flex;

   justify-content: space-around;

  }



 a {

     color: white;

     text-decoration: none;

    font-size: 1rem;

  }

  nav {

    position: sticky;

    top: 0;

    z-index: 100;

}
.dropdown {

    position: relative;

      display: inline-block;

  }



  .dropdown-content {

      display: none;

      position: absolute;

     background-color: #333;

    min-width: 160px;

  }



  .dropdown:hover .dropdown-content {

     display: block;

  }




   a:hover {

       color: #ddd;

    }



     a:active {

       color: #aaa;

    }



  a {

       transition: color 0.3s ease;

    }
    body {

      background-color: #fecd45;
      color: #2568fb;
    }

    @media (max-width : 768px) {
      nav ul {
        flex-direction: column;
      }
      nav li {
        padding: 10px;
        text-align: center;
      }
    }

    nav ul {
      list-style-type: none;

      padding: 0;

        margin: 0;

          display: flex;

      justify-content: space-around;

      color:#1ba098;

    }

    na li {
      color :#fefefe;
      font-size: 16px;
      cursor: finger;
      transition: background-color 0.3s;
    }

    nav li:hover {
      background-color: #red;
    }

nav i {
  margin-right: 8px;
}